body{
    display: flex;
    flex-direction: column;
}
main{
    gap: 10;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.div-principal{
    width: 100px; 
    height: 100px;
    margin: 0 auto;
    border: solid saddlebrown 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
    /* espaço entre as div da mesma linha */
}
.divs{
    width: 35px; 
    /* desse tamanho para que não caiba mais de 2 em cada linha
    e o wrap fazer ficar 2 em cima e 2 embaixo */
    height: 35px;
    border: solid saddlebrown 1px;
}
button{
    width: 50px;
    font-size: 5px;
}